<launch>

	<!--	prbt launchfile	-->
  <include file="$(find robot_bridge)/launch/PRBT6/moveit_planning_execution.launch">
    <arg name="sim" value="false"/>
    <!--arg name="pipeline" value="ompl"/-->
    <arg name="pipeline" value="pilz_command_planner"/>
    <arg name="start_rviz" value="true"/>
  </include>
  
	<!--	bridge launch file	-->
  <include file="$(find robot_bridge)/launch/PRBT6/prbt_bridge.launch"/>

</launch>
