<launch>
	
	<arg name="robot_ip" default="192.168.12.30"/>
	<arg name="kinematics_config" default="$(find ur_calibration)/config/my_robot_calibration.yaml"/>
	<arg name="velocity_controller" default="false"/>

	<!--  ur10e driver launchfile - Position Controller  -->
	<include unless="$(arg velocity_controller)" file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
		<arg name="robot_ip" value="$(arg robot_ip)"/>
		<arg name="kinematics_config" value="$(arg kinematics_config)"/>
	</include>

	<!--  ur10e driver launchfile - Velocity Controller  -->
	<include if="$(arg velocity_controller)" file="$(find ur_robot_driver)/launch/ur10e_bringup_vel_controller.launch">
		<arg name="robot_ip" value="$(arg robot_ip)"/>
		<arg name="kinematics_config" value="$(arg kinematics_config)"/>
	</include>
	
</launch>
